{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <form method="post" action="{{ path('login') }}">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="username">Username :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"><br/>

                <label for="password">password :</label>
                <input type="password" id="password" name="_password"><br/>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="submit" name="submit" value="Connect">
            </form>
        </div>
    </div>
{% endblock %}
