{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Moussaka !{% endblock %}

{% block body %}

<div>
    <div class="flex flex-row">
        <div class="basis-1/5">
            <h2>Playlists</h2>
        </div>
        <div class="basis-4/5 p-5">
            {{ render(controller('App\\Controller\\SongController::index')) }}
        </div>
    </div>

    <!-- lecture en cours ? -->
</div>

{% endblock %}
