{% extends 'base.html.twig' %}

{% block title %}Modifier {{ song.name }}{% endblock %}

{% block body %}
<main class="bg-white mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
        <h3 class="font-bold text-2xl">Modifier {{ song.name }}</h3>
    </section>

    <section class="mt-10">
        {{ include('song/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('song/_delete_form.html.twig') }}
    </section>
</main>

{% endblock %}
