<div class="mt-10">
    <!-- song list header -->
    <div class="flex text-gray-600">
        <div class="p-2 w-8 flex-shrink-0"></div>
        <div class="p-2 w-8 flex-shrink-0"></div>
        <div class="p-2 w-full">Titre</div>
        <div class="p-2 w-full">Artiste</div>
        <div class="p-2 w-full">Album</div>
        <div class="p-2 w-64 flex-shrink-0 text-right">Durée</div>
        {% if is_granted('ROLE_ARTIST') %}
        <div class="p-2 w-32 flex-shrink-0 text-right">Action</div>
        {% endif %}
    </div>

    {% for song in songs %}
        <div class="flex border-b border-gray-800 hover:bg-green-700/25">
            <div class="p-3 w-8 flex-shrink-0">▶️</div>
            <div class="p-3 w-8 flex-shrink-0">❤️</div>
            <div class="p-3 w-full">{{ song.name }}</div>
            <div class="p-3 w-full">Artiste</div>
            <div class="p-3 w-full">Album</div>
            <div class="p-3 w-64 flex-shrink-0 text-right">{{ (song.duration/60)|number_format(2, "'") }}</div>
            {% if is_granted('ROLE_ARTIST') %}
                <div class="p-3 w-32 flex-shrink-0 text-right"><a href="{{ path('app_song_edit', {'id': song.id}) }}">✍️edit</a></div>
            {% endif %}
        </div>
    {% else %}
        <div class="flex border-b border-gray-800 hover:bg-gray-800">
            <p>Aucun titre</p>
        </div>
    {% endfor %}
</div>


{% if is_granted('ROLE_ARTIST') %}
    <button class="bg-teal-700/70 hover:bg-teal-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200 p-2 m-2"><a href="{{ path('app_song_new') }}">Create new</a></button>
{% endif %}
