{% extends 'base.html.twig' %}

{% block title %}New Song{% endblock %}

{% block body %}
    <h1>Create new Song</h1>

    {{ include('song/_form.html.twig') }}

    <a href="{{ path('app_song_index') }}">back to list</a>
{% endblock %}
