{% extends 'base.html.twig' %}

{% block title %}Nouveau titre{% endblock %}

{% block body %}
    <h1>Créer un nouveau titre</h1>

    {{ include('song/_form.html.twig') }}

    <a href="{{ path('app_homepage') }}">Accueil</a>
{% endblock %}
