{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
    <main class="bg-white mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section>
            <h3 class="font-bold text-2xl">{{ artist.name }}</h3>
        </section>

        <section class="mt-10">
            ...
        </section>
    </main>
{% endblock %}
