{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="bg-teal-700/70 hover:bg-teal-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200 p-2 m-2">
        {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
