<table>
    <tr>
        <td>name</td>
        <td>price</td>
        <td>Actions</td>
    </tr>
{% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td><a href="{{ path('products_update', {'id': product.id}) }}">Modifier</a></td>
    </tr>
{% endfor %}
</table>
