<table>
    <tr>
        <td>name</td>
        <td>Actions</td>
    </tr>
    {% for statut in statuts %}
        <tr>
            <td>{{ statut.name }}</td>
            <td><a href="{{ path('statuts_update', {'id': statut.id}) }}">Modifier</a></td>
        </tr>
    {% endfor %}
</table>
