{% extends 'base.html.twig' %}

{% block title %}Update Cart{% endblock %}

{% block body %}
    Mon Formulaire de modification de panier.
    <p>
        Cart n° {{ cart.id }} a un total de : {{ cart.total }}
    </p>
{% endblock %}

