{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>10€</td>
                        <td>En préparation</td>
                        <td><a href="{{ path('orders_detail', {id: 1}) }}" class="btn btn-primary">Voir</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
